<h1>Your Pirate</h1>
<div class="pirate">
  <h2>Name: <%= @pirate.name%></h2>
  <h3>Height: <%= @pirate.height%></h3>
  <h3>Weight: <%= @pirate.weight%></h3>
</div>
<div class ="ships">
  <h2>Display your first ship here</h2>
  <h3>Name: <%= @ships[0].name%></h3>
  <h2>Type: <%= @ships[0].type%></h2>
  <h2>Booty: <%= @ships[0].booty%></h2>

  <h2>Display your second ship here</h2>
  <h3>Name: <%= @ships[1].name%></h3>
  <h2>Type: <%= @ships[1].type%></h2>
  <h2>Booty: <%= @ships[1].booty%></h2>
</div>
